<br><br><br><br>
<div class="flex font-monster">
  <div class="w-screen md:w-screen p-28 sm:p-2 md:p-2 m-auto">
    <div class="flex items-center max-w-screen-xl m-auto">
      <div class="md:px-20 mr-20 text-xl sm:text-2xl md:text-3xl font-bold"> Accounts <button
          class="inline-flex items-center justify-center w-7 h-7 mr-2 text-white transition-colors duration-150 bg-gray-300 rounded-sm focus:shadow-outline hover:bg-gray-700">
          <svg class="w-5 h-5 fill-current" viewBox="0 0 20 20">
            <path d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd" fill-rule="evenodd"></path>
          </svg>
        </button></div>
      <div class="md:pl-60 ml-60 text-xl sm:text-2xl md:text-3xl font-bold"> Cards <button
          class="inline-flex items-center justify-center w-7 h-7 mr-2 text-white transition-colors duration-150 bg-gray-300 rounded-sm focus:shadow-outline hover:bg-gray-700">
          <svg class="w-5 h-5 fill-current" viewBox="0 0 20 20">
            <path d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd" fill-rule="evenodd"></path>
          </svg>
        </button></div>
    </div>
  </div>
</div>
</div>

<div class="flex m-auto justify-around md:p-4 items-center font-monster md:w-screen max-w-screen-2xl">
  <div class="md:p-10 flex bg-blue-100 md:w-7/12 md:h-7/12">
    <div class="m-auto">
      <p class="text-xl sm:text-2xl md:text-4xl font-light"> $0</p>
      <p class="text-lg sm:text-xl md:text-xl font-light"> Checking  <span style="cursor: pointer;" class="float-right pl-3"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg></span> </p>
    </div>

    <div class="m-auto">
      <p class="text-xl sm:text-2xl md:text-4xl"> $0</p>
      <p class="text-lg sm:text-xl md:text-xl font-light"> Savings<span style="cursor: pointer;" class="float-right pl-3 "><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg></span> </p>
    </div>
  </div>
  <div class="md:p-7 flex bg-gray-100 justify-center md:w-4/12">
    <div class="m-auto">
      <p class="text-xl sm:text-2xl md:text-4xl"> $0 </p>
      <p class="text-lg sm:text-xl md:text-xl"> Credit Card </p>
      <span> <b>Due</b> 1/17/2022</span>
    </div>
  </div>
</div>

<div class="flex  m-auto justify-around md:p-2 items-center font-monster md:w-screen max-w-screen-2xl">
  <div class="md:mt-6 self-start flex bg-white md:w-7/12">
    <div class=" md:w-screen">


      <div class="pb-4">

        <div class="text-xl sm:text-xl md:text-2xl font-bold"> Bills <button
            class="modal-open inline-flex items-center justify-center w-6 h-6 mr-2 text-white transition-colors duration-150 bg-gray-300 rounded-lg focus:shadow-outline hover:bg-gray-600">
            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
              <path d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                clip-rule="evenodd" fill-rule="evenodd"></path>
            </svg>
          </button>
          <div
            class="z-10 modal text-base opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
            <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
            <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
              <div
                class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
                <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                  viewBox="0 0 18 18">
                  <path
                    d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                  </path>
                </svg>
                <span class="text-sm">(Esc)</span>
              </div>
              <div class="modal-content py-4 text-left px-6">
                <div class="flex justify-between items-center pb-3">
                  <p class="text-2xl font-bold"> Add a Bill </p>
                  <div class="modal-close cursor-pointer z-50">
                    <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                      viewBox="0 0 18 18">
                      <path
                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                      </path>
                    </svg>
                  </div>
                </div>
                <label class="block mt-4">
                  <label class="block">
                    <span class="text-gray-700"> Name of Bill: </span>
                    <div class="">
                      <input class="border p-1 form-input mt-1 block w-full" placeholder="Ex. Debt">
                    </div>
                  </label>
                  <label class="block mt-4">
                    <label class="block">
                      <span class="text-gray-700"> Amount: </span>
                      <div class="">
                        <input class="border p-1 form-input mt-1 block w-full" placeholder="Ex. $3000">
                      </div>
                    </label>
                    <label class="block mt-4">
                      <label class="block">
                        <span class="text-gray-700"> Due Date: </span>
                        <div class="">
                          <input type="date" value="mm/dd/yyyy" min="2022-01-01" max="2099-12-31"
                            class="border p-1 form-input mt-1 block w-full" placeholder="Ex. 1/1/2022">
                        </div>
                      </label>
                      <div class="mt-4">
                        <span class="text-gray-700"> Payment Type: </span>
                        <div class="mt-2">
                          <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="accountType" value="personal">
                            <span class="ml-2"> Auto Pay </span>
                          </label>
                        </div>
                      </div>
                      <div class="flex justify-end pt-2">
                        <button
                          class="px-4 bg-transparent p-3 rounded-lg border border-gray-300 text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2">
                          Confirm </button>
                      </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{#each data.bills}}

      <div class="md:p-1 bg-blue-100 font-bold rounded-sm"> {{name}} <span class="md:px-8 font-light"> ${{cost}} </span>
        <div class="flex float-right justify-center">
          <span class="md:px-8 font-light"> <span class="font-bold">Due </span> {{due_date}} </span>
          <button type="button"
            class="bg-white rounded-full p-0 inline-flex items-center justify-center text-gray-400 hover:text-gray-100 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
      <ul class="list-disc md:p-3 md:px-6">
        {{#if auto_pay}}
        <li> <b>Auto</b> Pay </li>
        {{else}}
        <li> <b>No Auto</b> Pay </li>
        {{/if}}
        {{#if debited}}
        <li class="flex"> Taken out of acccount
          <?xml version="1.0" encoding="UTF-8"?>
          <svg width="30pt" height="20pt" version="1.1" viewBox="-40 0 170 170" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m0 65.98c2.6406-5.2773 7.918-11.875 17.156-9.2383 7.918 2.6406 13.195 10.559 17.156 21.113 31.672-35.629 58.062-60.699 89.73-68.617 3.957 0 5.2773 0 2.6406 2.6406-34.309 23.754-67.301 59.383-93.691 105.57-1.3203 1.3203-2.6406 1.3203-3.957 0-5.2773-13.195-9.2383-26.391-15.836-39.586-2.6406-6.5977-6.5977-11.875-13.195-11.875z"
              fill="#39c367" fill-rule="evenodd" />
          </svg>
        </li>
        {{else}}
        <li class="flex"> Taken out of acccount
          <?xml version="1.0" encoding="UTF-8"?>
          <svg width="30pt" height="20pt" version="1.1" viewBox="0 0 128 150" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m23.297 68.734h81.281c1.4062 0 2.5586-1.1523 2.5586-2.5586v-4.4805c0-1.4062-1.1523-2.5586-2.5586-2.5586h-81.281c-1.4062 0-2.5586 1.1523-2.5586 2.5586v4.4805c-0.003906 1.4102 1.1484 2.5586 2.5586 2.5586z"
              fill="#6d6d6d" />
          </svg>

        </li>
        {{/if}}
      </ul>
      {{/each}}
    </div>
  </div>



  <div style="margin-top: 67px;" class=" flex self-start md:p-1 md:h-96 md:w-4/12 grid md:gap-24">

      <div class=" grid grid-row-2 md:grid-row-2 divide-y divide-gray-300">
        <div class="text-black">

          <p class="md:p-1 text-xl sm:text-2xl md:text-base bg-gray-100"> Total Monthly Income <input
              id="monthly-income" class="float-right text-right w-20 bg-gray-100 text-black" placeholder="$0"></input> </p>

          <p class="md:p-1 text-lg sm:text-xl md:text-base"> Total Monthly Bills <span id="monthly-bills"
              class="float-right">{{#each data.bills}}{{cost}},{{/each}}</span>
          </p>
        </div>
        <div>
          <p class="md:p-1 md:pb-40 md:text-base"> Leaves for the Month <span id="leaves" class="float-right"> $2,000
            </span>


        </div>
          
      </div>
      
      <div class="grid grid-row-2 md:grid-row-2 divide-y divide-gray-300">
        <div class="text-black">
          <label>
            <span class="md:p-1 text-xl sm:text-2xl md:text-lg bg-gray-100"> Next Payday </span>
            <div class="float-right">
              <input type="date" value="mm/dd/yyyy" min="2022-01-01" max="2099-12-31"
                class="border p-0 w-60 form-input mt-1 block w-full bg-gray-100" placeholder="Ex. 1/1/2022">
            </div>
          </label>
          <p id="due-before" class="md:p-1 text-xl sm:text-2xl md:text-lg"> Bills Due Before 7th <span
              class="float-right "> $500
            </span></p>
        </div>
        <div>
          <p class="md:p-1 text-xl sm:text-2xl md:text-lg"> New Checking Balance <span id="new-checking"
              class="float-right text-bold md:text-2xl"> $7,500 </span></p>
        </div>
      </div>
  </div>
</div>


<footer class="p-20"></footer>
<script src="/js/maths/maths.js"></script>
<script src="/js/put-logout.js"></script>
<script>

  var openmodal = document.querySelectorAll('.modal-open')
  for (var i = 0; i < openmodal.length; i++) {
    openmodal[i].addEventListener('click', function (event) {
      event.preventDefault()
      toggleModal()
    })
  }

  const overlay = document.querySelector('.modal-overlay')
  overlay.addEventListener('click', toggleModal)

  var closemodal = document.querySelectorAll('.modal-close')
  for (var i = 0; i < closemodal.length; i++) {
    closemodal[i].addEventListener('click', toggleModal)
  }

  document.onkeydown = function (evt) {
    evt = evt || window.event
    var isEscape = false
    if ("key" in evt) {
      isEscape = (evt.key === "Escape" || evt.key === "Esc")
    } else {
      isEscape = (evt.keyCode === 27)
    }
    if (isEscape && document.body.classList.contains('modal-active')) {
      toggleModal()
    }
  };


  function toggleModal() {
    const body = document.querySelector('body')
    const modal = document.querySelector('.modal')
    modal.classList.toggle('opacity-0')
    modal.classList.toggle('pointer-events-none')
    body.classList.toggle('modal-active')
  }


</script>